nav {
  position: fixed;
  right: 50px;
  z-index: 99; }
  @media only screen and (max-width: 415px) {
    nav {
      right: 30px; } }
  nav ul {
    transform: rotate(270deg);
    transform-origin: right;
    display: flex;
    flex-flow: wrap row;
    width: 85vh;
    justify-content: space-between; }
    nav ul li:first-child {
      width: 13%; }
    nav ul li:not(first-child) {
      width: 20%; }
    nav ul li {
      flex: auto;
      list-style: none;
      text-align: center; }
      nav ul li a {
        text-decoration: none;
        color: black;
        font-family: "Raleway";
        text-transform: uppercase;
        font-size: calc(8px + .8vh); }
    nav ul .black-box {
      background: black;
      height: 10px;
      width: 10px;
      position: absolute;
      left: 0vh;
      transform: translate(-40%, 45%); }
    nav ul .line-1, nav ul .line-2 {
      width: 19vh;
      height: 1px;
      background: black;
      position: absolute; }
    nav ul .line-1 {
      left: -0vh;
      bottom: 45%; }
    nav ul .line-2 {
      right: 0;
      bottom: 45%; }

#header {
  background: #FFF;
  position: relative;
  width: 100%; }
  #header .main-image-bg {
    position: relative;
    display: inline-block;
    padding: 0 calc(20px + 3vw);
    background: #A4BAB9;
    width: auto;
    margin-left: 8vw;
    padding-bottom: 200px;
    box-shadow: 14px 7px 20px #97979788; }
    @media only screen and (max-width: 414px) {
      #header .main-image-bg {
        margin-left: 2vw;
        margin-top: 300px; } }
    @media only screen and (max-width: 1240px) {
      #header .main-image-bg {
        padding-bottom: 100px; } }
    #header .main-image-bg img {
      height: 100vh;
      opacity: .85;
      box-shadow: 14px 7px 20px #97979788; }
      @media only screen and (max-width: 1240px) {
        #header .main-image-bg img {
          height: 72.7vh; } }
      @media only screen and (max-width: 415px) {
        #header .main-image-bg img {
          height: 50vh;
          opacity: 1;
          -webkit-transform: translateY(-10%);
          -ms-transform: translateY(-10%);
          -moz-transform: translateY(-10%);
          transform: translateY(-10%); } }
    #header .main-image-bg .header-text {
      position: absolute;
      top: 33vh;
      right: 4%;
      -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
      -moz-transform: translateX(50%);
      transform: translateX(50%);
      width: 220px;
      height: 40vh; }
      @media only screen and (max-width: 1240px) {
        #header .main-image-bg .header-text {
          left: 0;
          top: 50%; } }
      @media only screen and (max-width: 414px) {
        #header .main-image-bg .header-text {
          top: -53%;
          left: -5%; } }
      #header .main-image-bg .header-text .white-letters {
        color: white; }
        @media only screen and (max-width: 1240px) {
          #header .main-image-bg .header-text .white-letters {
            color: black; } }
      #header .main-image-bg .header-text .first-name {
        font-size: calc(35px + 3vw);
        font-family: "Cormorant Garamond", serif;
        font-weight: 100;
        margin: 0;
        position: absolute;
        left: 11%; }
        @media only screen and (max-width: 1240px) {
          #header .main-image-bg .header-text .first-name {
            font-size: calc(70px + 3vw); } }
        @media only screen and (max-width: 414px) {
          #header .main-image-bg .header-text .first-name {
            left: 0%; } }
        @media only screen and (min-width: 1580px) {
          #header .main-image-bg .header-text .first-name {
            left: 8%; } }
        @media only screen and (min-width: 1780px) {
          #header .main-image-bg .header-text .first-name {
            left: 3%; } }
        @media only screen and (min-width: 2100px) {
          #header .main-image-bg .header-text .first-name {
            left: -6%; } }
      #header .main-image-bg .header-text .surname {
        font-size: calc(35px + 3vw);
        font-family: "Cormorant Garamond", serif;
        font-weight: 100;
        position: absolute;
        left: -30%;
        top: 20%;
        margin: 0; }
        @media only screen and (max-width: 1240px) {
          #header .main-image-bg .header-text .surname {
            font-size: calc(70px + 3vw); } }
        @media only screen and (min-width: 1580px) {
          #header .main-image-bg .header-text .surname {
            left: -36%; } }
        @media only screen and (min-width: 1780px) {
          #header .main-image-bg .header-text .surname {
            left: -44%; } }
        @media only screen and (min-width: 2100px) {
          #header .main-image-bg .header-text .surname {
            left: -62%; } }
      #header .main-image-bg .header-text h3 {
        margin: 0;
        font-size: calc(15px + 1vw);
        font-family: "Cormorant Garamond", serif;
        font-weight: 100;
        -webkit-transform: translate(-10%, -40%);
        -ms-transform: translate(-10%, -40%);
        -moz-transform: translate(-10%, -40%);
        transform: translate(-10%, -40%);
        letter-spacing: .4em;
        white-space: nowrap;
        position: absolute;
        top: 55%;
        left: 20%; }
        @media only screen and (max-width: 1240px) {
          #header .main-image-bg .header-text h3 {
            font-size: calc(30px + 1vw); } }
        @media only screen and (max-width: 414px) {
          #header .main-image-bg .header-text h3 {
            font-size: calc(20px + 1vw);
            left: 0%; } }
    #header .main-image-bg .graduation {
      position: absolute;
      bottom: 25%;
      right: -50%; }
      @media only screen and (max-width: 1240px) {
        #header .main-image-bg .graduation {
          bottom: 30%;
          right: 10%; } }
      @media only screen and (max-width: 415px) {
        #header .main-image-bg .graduation {
          color: white;
          bottom: 13%;
          right: 20%; } }
      #header .main-image-bg .graduation .line {
        width: 6vw;
        height: 1px;
        background: black;
        position: absolute;
        top: 70%;
        left: 9%; }
        @media only screen and (max-width: 415px) {
          #header .main-image-bg .graduation .line {
            width: 9vw;
            background: white; } }
      #header .main-image-bg .graduation p {
        font-family: "Raleway";
        letter-spacing: .3em;
        font-size: .7em; }
      #header .main-image-bg .graduation p.date {
        padding-left: 8vw; }
        @media only screen and (max-width: 415px) {
          #header .main-image-bg .graduation p.date {
            padding-left: 15vw; } }

#contact {
  height: auto;
  margin-top: -100px;
  position: relative;
  padding: 0 20% 0 16%; }
  @media only screen and (max-width: 1240px) {
    #contact {
      margin-top: -50px; } }
  #contact .contact-panel {
    box-sizing: border-box;
    position: relative;
    font-family: "Raleway";
    padding: 2em;
    display: inline-block;
    z-index: 4;
    background: #FFF;
    width: 100%;
    box-shadow: 14px 10px 20px #97979788; }
    #contact .contact-panel h5 {
      margin: 0;
      letter-spacing: .3em;
      position: relative; }
      #contact .contact-panel h5 .line-1 {
        width: 5%;
        height: 1px;
        background: black;
        position: absolute;
        top: 50%;
        margin-left: 10px; }
        @media only screen and (max-width: 1240px) {
          #contact .contact-panel h5 .line-1 {
            width: 30%; } }
    #contact .contact-panel .line-2 {
      width: 5%;
      height: 1px;
      background: black;
      position: absolute;
      top: 80%;
      right: 0;
      -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
      -moz-transform: rotate(270deg);
      transform: rotate(270deg); }
      @media only screen and (max-width: 1240px) {
        #contact .contact-panel .line-2 {
          right: 4%; } }
      @media only screen and (max-width: 1240px) {
        #contact .contact-panel .line-2 {
          width: 20%;
          right: -1%; } }
    #contact .contact-panel .contact-info {
      font-size: calc( 7px + .4vw );
      letter-spacing: 0.3em;
      width: 100%;
      position: relative; }
      #contact .contact-panel .contact-info .linkedIn {
        display: block;
        text-align: right;
        padding-right: 5vw;
        margin-top: 2em;
        margin-bottom: 4em; }
        @media only screen and (max-width: 1240px) {
          #contact .contact-panel .contact-info .linkedIn {
            margin-top: 3em; } }
        @media only screen and (max-width: 415px) {
          #contact .contact-panel .contact-info .linkedIn {
            margin-top: 10em;
            text-align: center;
            padding-right: 0; }
            #contact .contact-panel .contact-info .linkedIn img {
              position: absolute;
              top: -50%;
              left: 45%;
              width: 35px; } }
      #contact .contact-panel .contact-info .email {
        display: block;
        padding-left: 5vw;
        margin-bottom: 3em; }
        @media only screen and (max-width: 415px) {
          #contact .contact-panel .contact-info .email {
            margin-top: 8em;
            text-align: center;
            padding-left: 0; }
            #contact .contact-panel .contact-info .email img {
              position: absolute;
              top: 40%;
              left: 45%;
              width: 35px; } }
      #contact .contact-panel .contact-info a {
        text-decoration: none;
        color: black; }
        #contact .contact-panel .contact-info a img {
          vertical-align: middle;
          margin-right: 10px; }

#about {
  height: auto;
  margin-top: 40px;
  margin-bottom: 400px;
  position: relative;
  padding: 0 20% 0 16%; }
  @media only screen and (max-width: 1240px) {
    #about {
      margin-bottom: 180px; } }
  @media only screen and (max-width: 415px) {
    #about {
      margin-bottom: 350px; } }
  #about .about-bg {
    position: absolute;
    right: 16%;
    top: -30%;
    background: #A4BAB9;
    height: 200%;
    width: 40vw;
    box-shadow: 14px 10px 20px #97979788; }
    @media only screen and (max-width: 1240px) {
      #about .about-bg {
        height: 140%;
        top: -10%; } }
    #about .about-bg p {
      font-size: calc(18px + 1.3vw);
      position: absolute;
      font-family: "Cormorant Garamond", serif; }
      @media only screen and (max-width: 380px) {
        #about .about-bg p {
          font-size: calc(14px + 1vw); } }
    #about .about-bg p:first-child {
      bottom: 15%;
      left: -38%;
      white-space: nowrap; }
      @media only screen and (max-width: 1240px) {
        #about .about-bg p:first-child {
          bottom: 10%;
          left: -43%; } }
      @media only screen and (max-width: 415px) {
        #about .about-bg p:first-child {
          bottom: 13%;
          left: -80%; } }
      @media only screen and (max-width: 380px) {
        #about .about-bg p:first-child {
          left: -66%; } }
      @media only screen and (max-width: 350px) {
        #about .about-bg p:first-child {
          left: -77%; } }
      @media only screen and (min-width: 1580px) {
        #about .about-bg p:first-child {
          left: -34%; } }
      @media only screen and (min-width: 1780px) {
        #about .about-bg p:first-child {
          left: -31%; } }
      @media only screen and (min-width: 2100px) {
        #about .about-bg p:first-child {
          left: -30%; } }
    #about .about-bg p:last-child {
      bottom: 8%;
      left: -24%;
      white-space: nowrap; }
      @media only screen and (max-width: 1240px) {
        #about .about-bg p:last-child {
          left: -28%;
          bottom: 4%; } }
      @media only screen and (max-width: 415px) {
        #about .about-bg p:last-child {
          bottom: 10%;
          left: -51%; } }
      @media only screen and (max-width: 380px) {
        #about .about-bg p:last-child {
          left: -43%; } }
      @media only screen and (max-width: 350px) {
        #about .about-bg p:last-child {
          left: -48%; } }
      @media only screen and (min-width: 1580px) {
        #about .about-bg p:last-child {
          left: -22%; } }
      @media only screen and (min-width: 1780px) {
        #about .about-bg p:last-child {
          left: -20%; } }
      @media only screen and (min-width: 2100px) {
        #about .about-bg p:last-child {
          left: -19%; } }
  #about .about-panel {
    box-sizing: border-box;
    position: relative;
    z-index: 2;
    background: #FFF;
    font-family: "Raleway";
    line-height: 1.38em;
    padding: 7em 6em;
    z-index: 4;
    background: #FFF;
    width: 100%;
    box-shadow: 14px 10px 20px #97979788; }
    @media only screen and (max-width: 415px) {
      #about .about-panel {
        padding: 2em .3em; } }
    #about .about-panel h2 {
      text-transform: uppercase;
      letter-spacing: .3em;
      font-weight: 100;
      font-size: calc(12px + .5vw);
      text-align: center;
      position: relative;
      margin-bottom: 2em; }
      #about .about-panel h2 .line {
        width: 16vw;
        height: 1px;
        background: black;
        position: absolute;
        top: 50%; }
    #about .about-panel p {
      text-align: justify;
      letter-spacing: .1em;
      line-height: 2em;
      font-size: calc(8px + .5vw);
      color: #555; }
      @media only screen and (max-width: 415px) {
        #about .about-panel p {
          padding: 2em 2em;
          font-size: calc(10px + .8vw); } }

#projects {
  height: auto;
  position: relative;
  padding: 100px 16% 0 10%;
  font-family: "Raleway"; }
  #projects h2 {
    text-transform: uppercase;
    letter-spacing: .3em;
    font-weight: 100;
    font-size: calc(12px + .5vw);
    position: relative;
    margin-bottom: 1em;
    margin-left: 8%; }
    #projects h2 .line {
      width: 16vw;
      height: 1px;
      background: black;
      position: absolute;
      top: 50%; }
  #projects .project-styling-1 .columns-container, #projects .project-styling-2 .columns-container {
    display: flex;
    flex-flow: row wrap; }
    #projects .project-styling-1 .columns-container .image-column, #projects .project-styling-2 .columns-container .image-column {
      height: auto;
      display: inline-block;
      flex: auto;
      width: calc(300px + 20%);
      position: relative;
      z-index: 2; }
      #projects .project-styling-1 .columns-container .image-column img, #projects .project-styling-2 .columns-container .image-column img {
        width: 110%;
        box-shadow: 14px 12px 20px #97979788; }
        @media only screen and (max-width: 1240px) {
          #projects .project-styling-1 .columns-container .image-column img, #projects .project-styling-2 .columns-container .image-column img {
            width: 100%; } }
      #projects .project-styling-1 .columns-container .image-column img:hover + div.overlay, #projects .project-styling-2 .columns-container .image-column img:hover + div.overlay {
        visibility: visible;
        opacity: 1;
        transition: all 1s; }
      #projects .project-styling-1 .columns-container .image-column div.overlay:hover, #projects .project-styling-2 .columns-container .image-column div.overlay:hover {
        visibility: visible;
        opacity: 1;
        transition: all 1s; }
      #projects .project-styling-1 .columns-container .image-column .overlay, #projects .project-styling-2 .columns-container .image-column .overlay {
        opacity: 0;
        transition: all 1s;
        visibility: hidden;
        box-sizing: border-box;
        padding-top: 30%;
        width: 110%;
        height: 99.5%;
        background: #00000085;
        position: absolute;
        top: 0;
        text-align: center; }
        @media only screen and (max-width: 415px) {
          #projects .project-styling-1 .columns-container .image-column .overlay, #projects .project-styling-2 .columns-container .image-column .overlay {
            padding: 0 10%;
            padding-top: 20%; } }
        @media only screen and (max-width: 1240px) {
          #projects .project-styling-1 .columns-container .image-column .overlay, #projects .project-styling-2 .columns-container .image-column .overlay {
            width: 100%;
            opacity: 1;
            visibility: visible; } }
        #projects .project-styling-1 .columns-container .image-column .overlay p, #projects .project-styling-1 .columns-container .image-column .overlay h3, #projects .project-styling-2 .columns-container .image-column .overlay p, #projects .project-styling-2 .columns-container .image-column .overlay h3 {
          color: white;
          font-family: "Raleway";
          letter-spacing: .3em; }
        #projects .project-styling-1 .columns-container .image-column .overlay h3, #projects .project-styling-2 .columns-container .image-column .overlay h3 {
          text-transform: uppercase;
          margin-bottom: 12%; }
        #projects .project-styling-1 .columns-container .image-column .overlay .line, #projects .project-styling-2 .columns-container .image-column .overlay .line {
          width: 30%;
          height: 1px;
          background: white;
          position: absolute;
          top: 48%;
          left: 34%; }
    #projects .project-styling-1 .columns-container .text-column, #projects .project-styling-2 .columns-container .text-column {
      height: auto;
      display: inline-block;
      flex: auto;
      width: calc(250px + 20%);
      position: relative;
      z-index: 1; }
      @media only screen and (max-width: 1240px) {
        #projects .project-styling-1 .columns-container .text-column, #projects .project-styling-2 .columns-container .text-column {
          margin: 20px; } }
      #projects .project-styling-1 .columns-container .text-column .text-panel, #projects .project-styling-2 .columns-container .text-column .text-panel {
        box-sizing: border-box;
        box-shadow: 14px 12px 20px #97979788;
        background: #FFF;
        padding: 3em 3em 3em 5em;
        -webkit-transform: translateY(-50px);
        -ms-transform: translateY(-50px);
        -moz-transform: translateY(-50px);
        transform: translateY(-50px);
        min-height: 450px;
        font-size: 1.2vw; }
        @media only screen and (max-width: 1240px) {
          #projects .project-styling-1 .columns-container .text-column .text-panel, #projects .project-styling-2 .columns-container .text-column .text-panel {
            width: 70vw;
            font-size: 2vw;
            padding: 3em; } }
        #projects .project-styling-1 .columns-container .text-column .text-panel p, #projects .project-styling-2 .columns-container .text-column .text-panel p {
          line-height: 1.8em;
          font-size: .9em;
          color: #555; }
          @media only screen and (max-width: 415px) {
            #projects .project-styling-1 .columns-container .text-column .text-panel p, #projects .project-styling-2 .columns-container .text-column .text-panel p {
              font-size: 4vw; } }
          #projects .project-styling-1 .columns-container .text-column .text-panel p a, #projects .project-styling-2 .columns-container .text-column .text-panel p a {
            text-decoration: none;
            color: black;
            font-weight: 900; }
  #projects .project-styling-1 .project-links, #projects .project-styling-2 .project-links {
    width: 100%;
    height: 300px;
    flex: auto;
    margin-bottom: 200px;
    margin-top: -225px; }
    @media only screen and (max-width: 1240px) {
      #projects .project-styling-1 .project-links, #projects .project-styling-2 .project-links {
        margin-top: -100px;
        height: 50px; } }
    #projects .project-styling-1 .project-links .links-container, #projects .project-styling-2 .project-links .links-container {
      margin: auto;
      width: 28%;
      height: 100%;
      background: #A4BAB9;
      box-shadow: 14px 12px 20px #97979788;
      position: relative; }
      @media only screen and (max-width: 1240px) {
        #projects .project-styling-1 .project-links .links-container, #projects .project-styling-2 .project-links .links-container {
          width: 100%;
          z-index: 1; } }
      #projects .project-styling-1 .project-links .links-container .line, #projects .project-styling-2 .project-links .links-container .line {
        width: 5vw;
        height: 1px;
        background: white;
        position: absolute;
        bottom: 13%; }
        @media only screen and (max-width: 1240px) {
          #projects .project-styling-1 .project-links .links-container .line, #projects .project-styling-2 .project-links .links-container .line {
            bottom: 50%;
            width: 15vw; } }
      #projects .project-styling-1 .project-links .links-container .line, #projects .project-styling-2 .project-links .links-container .line {
        right: 10%; }
      #projects .project-styling-1 .project-links .links-container .line:first-child, #projects .project-styling-2 .project-links .links-container .line:first-child {
        left: 10%; }
      #projects .project-styling-1 .project-links .links-container .link-icon, #projects .project-styling-2 .project-links .links-container .link-icon {
        width: calc(20px + .2vw);
        position: absolute;
        right: 40%;
        bottom: 10%; }
        @media only screen and (max-width: 1240px) {
          #projects .project-styling-1 .project-links .links-container .link-icon, #projects .project-styling-2 .project-links .links-container .link-icon {
            bottom: 25%;
            width: calc(20px + .5vw); } }
      #projects .project-styling-1 .project-links .links-container .github-icon, #projects .project-styling-2 .project-links .links-container .github-icon {
        width: calc(20px + .2vw);
        position: absolute;
        left: 40%;
        bottom: 10%; }
        @media only screen and (max-width: 1240px) {
          #projects .project-styling-1 .project-links .links-container .github-icon, #projects .project-styling-2 .project-links .links-container .github-icon {
            bottom: 25%;
            width: calc(20px + .5vw); } }
  #projects .project-styling-2 .columns-container {
    flex-flow: wrap-reverse; }
    #projects .project-styling-2 .columns-container .image-column img:first-child {
      -webkit-transform: translateX(-9%);
      -ms-transform: translateX(-9%);
      -moz-transform: translateX(-9%);
      transform: translateX(-9%); }
      @media only screen and (max-width: 1240px) {
        #projects .project-styling-2 .columns-container .image-column img:first-child {
          -webkit-transform: translateX(0%);
          -ms-transform: translateX(0%);
          -moz-transform: translateX(0%);
          transform: translateX(0%); } }
    #projects .project-styling-2 .columns-container .image-column img.gif-1 {
      position: absolute;
      bottom: 61%;
      -webkit-transform: rotate(-30deg);
      -ms-transform: rotate(-30deg);
      -moz-transform: rotate(-30deg);
      transform: rotate(-30deg);
      width: 38%;
      box-shadow: -4px 6px 9px #00000050; }
      @media only screen and (max-width: 1240px) {
        #projects .project-styling-2 .columns-container .image-column img.gif-1 {
          width: 34%;
          right: 60%; } }
    #projects .project-styling-2 .columns-container .image-column img.gif-2 {
      position: absolute;
      bottom: 20%;
      -webkit-transform: rotate(-30deg);
      -ms-transform: rotate(-30deg);
      -moz-transform: rotate(-30deg);
      transform: rotate(-30deg);
      width: 60%;
      box-shadow: -4px 6px 9px #00000050; }
      @media only screen and (max-width: 1240px) {
        #projects .project-styling-2 .columns-container .image-column img.gif-2 {
          width: 56%;
          right: 34%; } }
    #projects .project-styling-2 .columns-container .image-column div.overlay {
      height: 99.5%;
      right: 0; }
    #projects .project-styling-2 .columns-container .text-column .text-panel {
      padding: 3em 5em 3em 3em; }
  #projects .project-styling-2 .project-links {
    margin-top: -225px; }
    @media only screen and (max-width: 1240px) {
      #projects .project-styling-2 .project-links {
        margin-top: -100px; } }

#skills {
  height: auto;
  margin-bottom: 40px;
  position: relative;
  padding: 15px 30% 0 20%;
  font-family: "Raleway"; }
  @media only screen and (max-width: 768px) {
    #skills {
      padding: 15px 23% 0 16%; } }
  #skills h2 {
    padding-right: 15vw;
    text-align: right;
    text-transform: uppercase;
    letter-spacing: .3em;
    font-weight: 100;
    font-size: calc(12px + .5vw);
    position: relative;
    margin-bottom: 1em;
    margin-left: 8%; }
    @media only screen and (max-width: 1240px) {
      #skills h2 {
        padding-right: 14.5vw; } }
    #skills h2 .line {
      width: 7vw;
      height: 1px;
      background: black;
      position: absolute;
      top: 50%; }
  #skills .skills-columns {
    display: flex;
    flex-flow: row wrap; }
    #skills .skills-columns .line {
      width: 22vh;
      height: 1px;
      background: black;
      position: absolute;
      bottom: 14%;
      z-index: 99;
      -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
      -moz-transform: rotate(270deg);
      transform: rotate(270deg);
      transform-origin: center;
      left: 30%; }
      @media only screen and (max-width: 1240px) {
        #skills .skills-columns .line {
          left: 28%;
          width: 12vh; } }
      @media only screen and (max-width: 415px) {
        #skills .skills-columns .line {
          display: none; } }
    #skills .skills-columns h3 {
      margin: 0;
      margin-top: 10px;
      font-size: 1.2vw; }
      @media only screen and (max-width: 415px) {
        #skills .skills-columns h3 {
          font-size: calc( 1em + .8vw); } }
    #skills .skills-columns .technologies-column {
      flex: auto;
      min-width: 250px; }
      @media only screen and (max-width: 768px) {
        #skills .skills-columns .technologies-column {
          min-width: 220px; } }
      #skills .skills-columns .technologies-column .technologies-panel {
        padding: 30px 0 50px 0;
        text-align: center;
        width: 80%;
        position: relative;
        z-index: 1;
        box-sizing: border-box;
        box-shadow: 14px 7px 20px #97979788;
        -webkit-transform: translate(30%, -10%);
        -ms-transform: translate(30%, -10%);
        -moz-transform: translate(30%, -10%);
        transform: translate(30%, -10%);
        background: white; }
        @media only screen and (max-width: 415px) {
          #skills .skills-columns .technologies-column .technologies-panel {
            width: 100%;
            -webkit-transform: translate(0%, 0%);
            -ms-transform: translate(0%, 0%);
            -moz-transform: translate(0%, 0%);
            transform: translate(0%, 0%); } }
        #skills .skills-columns .technologies-column .technologies-panel ul {
          display: inline-block;
          padding-inline-start: 0;
          padding-left: 0;
          margin-top: 8px; }
          #skills .skills-columns .technologies-column .technologies-panel ul li {
            font-family: "Raleway";
            margin: 8px 0;
            list-style: none;
            font-size: calc(.2em + .8vw); }
            @media only screen and (max-width: 415px) {
              #skills .skills-columns .technologies-column .technologies-panel ul li {
                font-size: calc( .8em + .8vw); } }
    #skills .skills-columns .methodology-column {
      min-width: 250px;
      flex: auto;
      position: relative; }
      @media only screen and (max-width: 768px) {
        #skills .skills-columns .methodology-column {
          min-width: 220px; } }
      #skills .skills-columns .methodology-column .methodology-panel {
        text-align: center;
        width: 80%;
        position: relative;
        box-sizing: border-box;
        background: #A4BAB9;
        box-shadow: 14px 7px 20px #97979788;
        -webkit-transform: translateX(-10%);
        -ms-transform: translateX(-10%);
        -moz-transform: translateX(-10%);
        transform: translateX(-10%);
        padding: 30px 0; }
        @media only screen and (max-width: 415px) {
          #skills .skills-columns .methodology-column .methodology-panel {
            width: 100%;
            -webkit-transform: translate(0%, 0%);
            -ms-transform: translate(0%, 0%);
            -moz-transform: translate(0%, 0%);
            transform: translate(0%, 0%); } }
        #skills .skills-columns .methodology-column .methodology-panel ul {
          display: inline-block;
          padding-inline-start: 0;
          padding-left: 0;
          margin-bottom: 0px; }
          #skills .skills-columns .methodology-column .methodology-panel ul li {
            color: white;
            font-family: "Raleway";
            margin: 8px 0;
            list-style: none;
            font-size: calc(.3em + .8vw);
            margin-top: 0; }
            @media only screen and (max-width: 415px) {
              #skills .skills-columns .methodology-column .methodology-panel ul li {
                font-size: calc( .8em + .8vw); } }
        #skills .skills-columns .methodology-column .methodology-panel h3 {
          color: white; }

body {
  background: #FFF;
  position: relative;
  margin: 0; }

@media only screen and (max-width: 415px) {
  #contact, #about, #projects, #skills {
    padding: 0 13% 0 8%; } }

/*# sourceMappingURL=main.css.map */
