#about {
  height: auto;
  margin-top: 40px;
  margin-bottom: 400px;
  position: relative;
  padding: 0 20% 0 16%;

  @media only screen and (max-width: 1240px) {
    margin-bottom: 150px;
  }

  @media only screen and (max-width: 550px) {
    margin-bottom: 120px;
  }

  @media only screen and (max-width: 416px) {
    margin-bottom: 260px;
  }

  .about-bg {
    position: absolute;
    right: 16%;
    top: -30%;
    background: #A4BAB9;
    height: 200%;
    width: 40vw;
    box-shadow: 14px 10px 20px #97979788;

    @media only screen and (max-width: 1240px) {
      height: 140%;
      top: -10%;
    }

    // Quote
    .quote-container {
      position: absolute;
      left: 0%;
      bottom: 0%;
      transform: translateX(-42%);

      p {
        font-size: calc(18px + 1.3vw);
        white-space: nowrap;
        font-family: $header-font-family;

        @media only screen and (max-width: 450px) {
          font-size: calc(14px + 1vw);

        }

      }

      p:last-child {
        text-indent: 2em;
      }


    }

  }

  .about-panel {
    box-sizing: border-box;
    position: relative;
    z-index: 2;
    background: $primary-background-color;
    font-family: $content-font-family;
    line-height: 1.38em;
    padding: 7em 6em;
    z-index: 4;
    background: $primary-background-color;
    width: 100%;
    box-shadow: 14px 10px 20px #97979788;

    @media only screen and (max-width: 850px) {
      padding: 2em 2em;
    }

    @media only screen and (max-width: 550px) {
      padding: 2em .3em;
    }

    h2 {
      text-transform: uppercase;
      letter-spacing: .3em;
      font-weight: 100;
      font-size: calc(12px + .5vw);
      text-align: center;
      position: relative;
      margin-bottom: 2em;

      .line {
        width: 16vw;
        height: 1px;
        background: black;
        position: absolute;
        top: 50%;
      }

    }

    p {
      text-align: justify;
      letter-spacing: .1em;
      line-height: 2em;
      font-size: calc(8px + .5vw);
      color: #555;
      @media only screen and (max-width: 650px) {
        padding: 2em 2em;
        font-size: calc(8px + .6vw);
      }
    }
  }



}
