$primary-color: #333;
$primary-background-color: #FFF;
$header-font-family: 'Cormorant Garamond', serif;
$content-font-family: 'Gulim';
$content-letter-spacing: .3em;

@import "./partials/nav";
@import "./header";
@import "./contact";
@import "./about";
@import "./projects";
@import "./skills";


body {
  background: $primary-background-color;
  position: relative;
  margin: 0;

}
